# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
venv-2.x/

.gitignore

gengeration/SMT/temp_smt

# Logs and databases
*.log
*.sqlite

# macOS
.DS_Store

# Windows
Thumbs.db

# Sensitive data
.env
.env.local